

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
	<app-sidebar></app-sidebar>
  <form action="#">
    <div class="form-group">
      <input type="text" placeholder="Buscar.....">
      <i class='bx bx-search icon' ></i>
    </div>
  </form>
  <div class="details">
               <div class="recentOrders">
                   <div class="cardHeader">
                       <h2>Reservas</h2>

                   </div>

                   <table>
                       <thead>
                           <tr>
                               <td>Hora</td>
                               <td>Nombres</td>
                               <td>Identificación</td>
                               <td>Estado</td>
                           </tr>
                       </thead>

                       <tbody>
                           <tr>
                               <td>08:00 am</td>
                               <td>Cristian Camilo Silva Vargas</td>
                               <td>1234646214</td>
                               <td><span class="status delivered">Activa</span></td>
                           </tr>

                           <tr>
                               <td>09:00 am</td>
                               <td></td>
                               <td></td>
                               <td><span class="status pending"></span></td>
                           </tr>

                           <tr>
                               <td>10:00 am</td>
                               <td></td>
                               <td></td>
                               <td><span class="status return"></span></td>
                           </tr>

                           <tr>
                               <td>11:00 am</td>
                               <td>Esteban Sepulveda</td>
                               <td>111112111</td>
                               <td><span class="status inProgress">Activa</span></td>
                           </tr>

                           <tr>
                               <td>12:00 am</td>
                               <td></td>
                               <td></td>
                               <td><span class="status delivered"></span></td>
                           </tr>

                           <tr>
                               <td>01:00 pm</td>
                               <td></td>
                               <td></td>
                               <td><span class="status pending"></span></td>
                           </tr>

                           <tr>
                               <td>02:00 pm</td>
                               <td></td>
                               <td></td>
                               <td><span class="status return"></span></td>
                           </tr>

                           <tr>
                               <td>03:00 pm</td>
                               <td>Pepito Andrez Perez</td>
                               <td>128392102</td>
                               <td><span class="status inProgress">Activa</span></td>
                           </tr>

                           <tr>
                               <td>04:00 pm</td>
                               <td></td>
                               <td></td>
                               <td><span class="status inProgress"></span></td>
                           </tr>

                           <tr>
                               <td>05:00 pm</td>
                               <td></td>
                               <td></td>
                               <td><span class="status inProgress"></span></td>
                           </tr>
                       </tbody>
                   </table>
               </div>
   </div>
             </body>
