
  <head>
    <meta charset="UTF-8">


     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>


  <div class="container">
    <div class="title">Editar Servicio</div>

    <div class="content">
      <form action="#">
        <div class="service-details">

          <div class="input-box">

            <span class="details">Nombre Servicio</span>
            <input type="text"  [(ngModel)]="serviciobienestar.name" name = "name"  required>
          </div>

    <!--      <div class="input-box">

            <span class="details">Hora apartura del servicio</span>
            <input type="time" required>   -->
          <div class="input-box">
          <span class="details">identificación</span>
          <input type="number"  [(ngModel)]="serviciobienestar.id" name = "id"  required disabled>
          </div>






          <div class="input-box">
          <span class="details">sede</span>
          <input type="text"  value="Santa Ana" name = "sede"  required disabled>
          </div>



  <div class="input-box">
          <span class="details">capacidad</span>
          <input type="number"  [(ngModel)]="serviciobienestar.capacity" name = "capacity" placeholder="Ingresa el nombre del servicio" required>
        </div>




          <div class="input-box2">
            <span class="details">Descripción</span>
          <textarea name="comentarios" [(ngModel)]="serviciobienestar.description" name = "description" placeholder="Ingrese una descipción"></textarea>

          </div>

  </div>

        <div class="button">
        <input name = "butAgregar" type="submit" (click)= update(); routerLink="/servicetable" value="Guardar">


        </div>
      </form>
    </div>
  </div>

</body>
