
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  	<app-sidebar></app-sidebar>

  <div class="container">
    <div class="title">Agregar Usuario</div>
    <div class="content">
      <form action="#">
        <div class="service-details">
          <div class="input-box">

            <span class="details">Nombres</span>
            <input type="text" placeholder="Ingresa los nombres" required>
          </div>

          <div class="input-box">

            <span class="details">Apellidos</span>
              <input type="text" placeholder="Ingresa los apellidos" required>
          </div>

          <div class="input-box">

            <span class="details">Identificación</span>
              <input type="text" placeholder="Ingresa la identificación" required>
          </div>

          <div class="input-box">

            <span class="details">telefono</span>
              <input type="text" placeholder="Ingresa el telefono" required>
          </div>

          <div class="input-box">

            <span class="details">email</span>
              <input type="text" placeholder="Ingresa el email" required>
          </div>


          <div class="input-box">
            <span class="details">Fecha De Nacimiento</span>
            <input type="time" required>
          </div>

          <div class="input-box">
               <span class="details">Rol</span>
             <select name="sedes">
             <option  selected value="Selecciona una sede" disabled>Selecciona el rolass</option>
             <option>Administrador</option>
             <option>Usuario</option>

             </select>
             </div>




  </div>

        <div class="button">
          <input type="submit" value="Agregar">
        </div>
      </form>
    </div>
  </div>

</body>
