
<head>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

</head>
<body>
  <div class="container">
  <div class ="image">
  <img src = "assets\img\logo-Unibague.png" />
  </div>
  </div>
    <div class="login-container">
        <div class="forms">
            <div class="form login">
                <span class="title">Bienvenido al sitio web administrativo de Bienestar Universitario!!</span>
                <div class ="image2">
                <img src = "assets\img\uni_ibague.png" />
                </div>
                <form action="#">


                    <div class="input-field button">
                        <input type="button" (click)="LoginWithRedirect()" value="Iniciar Sesión">
                    </div>
                </form>


            </div>

            <!-- Registration Form -->

        </div>
    </div>

    <!--<script src="script.js"></script>-->
</body>
