
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>

	<!-- SIDEBAR -->
	<section *ngIf="ShowMe" id="sidebar">
		<a href="#" class="brand"><img src = "assets\img\logo-Unibague.png" /></a>
		<ul class="side-menu">

			<li><a><i class='bx bxs-dashboard icon'></i> Menu</a></li>

			<li class="divider" data-text="main">Servicios</li>

			<li><a href="#"><i class='bx bxs-chart icon'> </i>Servicios Ofertados</a></li>
			<li><a href="#" routerLink="/reporttable"><i class='bx bxs-widget icon'></i>Gestionar Reservas</a></li>
			<li class="divider" data-text="table and forms">Usuarios</li>
			<li><a href="#"><i class='bx bx-table icon' ></i> Gestionar Usuarios</a></li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Cerrar Sesión <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a href="#">Basic</a></li>
					<li><a href="#">Select</a></li>
					<li><a href="#">Checkbox</a></li>
					<li><a href="#">Radio</a></li>
				</ul>
			</li>
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade"></a>

			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->

	<!-- NAVBAR -->

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="script.js"></script>
</body>
