
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>


  <div class="container">
    <div class="title">Agregar Servicio</div>
    <div class="content">
      <form action="#">
        <div class="service-details">
          <div class="input-box">
            <span class="details">Nombre Servicio</span>
            <input type="text" placeholder="Ingresa el nombre del servicio" required>
          </div>

          <div class="input-box">

            <span class="details">Hora apartura del servicio</span>
            <input type="time" required>
          </div>


       <div class="input-box">
            <span class="details">Sede</span>
          <select name="sedes">
          <option  selected value="Selecciona una sede" disabled>Selecciona una sede</option>
          <option>Universidad De Ibagué</option>
          <option>Santa Ana</option>

          </select>
          </div>


          <div class="input-box">
            <span class="details">Hora Finalización del servicio</span>
            <input type="time" required>
          </div>



          <div class="input-box2">
            <span class="details">Descripción</span>
          <textarea name="comentarios" placeholder="Ingrese una descipción"></textarea>

          </div>

  </div>

        <div class="button">
          <input type="submit" (click)=crearCard() value="Agregar">
        </div>
      </form>
    </div>
  </div>

</body>
