

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
	<app-sidebar></app-sidebar>
  <form action="#">

  </form>
  <div class="details">
               <div class="recentOrders">
                 <div class="cardHeader">
                     <h2>Servicios Ofertados</h2>

                     <div class="button">
                       <input type="submit" (click)="openAddForm()"  value="Agregar">

                     </div>

                 </div>

                   <table>
                       <thead>
                           <tr>
                              <td>Id</td>
                               <td>Nombre Servicio</td>
                               <td>Descripción</td>
                               <td>Aforo</td>
                               <td>Reservas</td>
                               <td>Editar</td>
                               <td>Eliminar</td>



                           </tr>
                       </thead>

                       <tbody>
                           <tr *ngFor="let servicioBienestar of listService">
                             <td>{{ servicioBienestar.id }}</td>
                             <td>{{ servicioBienestar.name }}</td>
                             <td>{{ servicioBienestar.description}}</td>
                             <td>{{ servicioBienestar.capacity }}</td>



                             <td><i class="fa-solid fa-eye" style="color: green;" [routerLink]="['/bookingtable', servicioBienestar.id]"></i></td>
                             <td><i class="fa-solid fa-pen" style="color: blue;" [routerLink]="['/updateservice', servicioBienestar.id]"></i></td>
                             <td><i class="fa-solid fa-trash" (click)= eliminar(servicioBienestar) style="color: red;"></i></td>


                           </tr>




                       </tbody>
                   </table>
               </div>
   </div>
             </body>
